.comment {
  padding: 20px 25px 20px 20px;

  .program__form-legend {
    padding-bottom: 20px;

    &::after {
      content: "";
      position: absolute;
      top: 16px;
      left: 148px;
      width: 100vw;
      height: 2px;
      background: $green;
    }
  }
}

.comment__textarea {
  width: 100%;
  text-align: center;
  padding-top: 10px;

  &::placeholder {
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
  }
}

@media (min-width: $tablet-width) {
  .comment {
    padding: 20px 90px 65px 70px;

    .program__form-legend {
      padding-bottom: 55px;

      &::after {
        content: "";
        position: absolute;
        top: 18px;
        left: 217px;
        width: 100vw;
        height: 2px;
        background: $green;
      }

      &::before {
        content: "";
        position: absolute;
        top: 18px;
        right: 222px;
        width: 100vw;
        height: 2px;
        background: $green;
      }
    }
  }

  .comment__textarea {
    text-align: left;
    padding-left: 20px;
    min-height: 160px;

    &::placeholder {
      font-size: 20px;
      line-height: 30px;
    }
  }
}

@media (min-width: $desktop-width) {
  .comment {
    grid-column: span 2;
    padding: 0 25px 0 0;
    margin-bottom: 65px;

    .program__form-legend {
      padding-bottom: 75px;

      &::after {
        content: "";
        position: absolute;
        top: 21px;
        left: 222px;
        width: 100vw;
        height: 2px;
        background: $green;
      }

      &::before {
        content: "";
        position: absolute;
        top: 22px;
        right: 220px;
        width: 100vw;
        height: 2px;
        background: $green;
      }
    }
  }
}
