// Colors
$white:#ffffff;
$black:#000000;
$dark-grey:#444444;
$light-grey: #e6e6e6;
$green:  #68b738;
$greeny:#5eaa2f;
$green-next: #65a93c;
$bg-grey: #f2f2f2;
$grey-border: #d9d9d9;
$grey-border-next: #cdcdcd;
$error:#ff8282;
$grey-circle:#bababa;
$bg-grey-next: #eaeaea;
$special-grey: #ebebeb;
$border:#e7e7e7;
$shadow: rgba(0, 0, 0, 0.16);


// Viewports

$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;
