.cards {
  @include reset-list;
  border-top: 1px solid $grey-border-next;
  border-bottom: 1px solid $grey-border-next;
}

.cards__item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-row-gap: 12px;
  padding: 19px 20px 25px 20px;
  border-bottom: 1px solid $grey-border-next;

  &:first-child {
    .cards__picture-image {
      margin-bottom: -5px;
    }
  }
}

.cards__picture {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 112px;
  box-sizing: border-box;
}

.cards__picture-image {
  margin-bottom: -20px;

  &--big {
    margin-bottom: -10px;
  }
}

.cards__info-title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $black;
  padding-right: 50px;
  margin: 0 0 14px 0;
}

.cards__info-table {
  border: none;
  border-collapse: collapse;
  font-size: 12px;
  line-height: 14px;
  margin: 0;
  width: 100%;
}

.cards__info-value {
  text-align: right;
}

.cards__info-name {
  line-height: 12px;
}

.cards__button {
  text-align: center;
  grid-column: span 2;
  grid-row: 2/3;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: $white;
  text-transform: uppercase;
  background: $green;
  padding: 10px 0;

  &:hover {
    background: $greeny;
  }

  &:active {
    color: rgba($white, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 60px;
    grid-row-gap: 140px;
    border: none;
    margin-bottom: 70px;
  }

  .cards__item {
    grid-template-columns: 1fr;
    grid-row-gap: 33px;
    text-align: center;
    padding: 162px 38px 40px 38px;
    background: $bg-grey;
    position: relative;
    border: none;
  }

  .cards__picture {
    position: absolute;
    top: -60px;
    left: 80px;
    width: 168px;
    height: 200px;
  }

  .cards__picture-image {
    width: 100%;
    margin: 0;

    &--big {
      margin-bottom: 15px;
    }
  }

  .cards__info {
    flex-basis: 100%;
  }

  .cards__info-title {
    font-size: 20px;
    line-height: 24px;
    padding: 0 49px 0 51px;
    margin-bottom: 12px;
  }

  .cards__info-name {
    text-align: left;
    padding: 10px 0 9px 0;
  }

  .cards__info-value {
    text-align: right;
  }

  .cards__info-table {
    font-size: 16px;
    line-height: 16px;
    border-collapse: collapse;
  }

  .cards__info-row {
    border-bottom: 1px solid $grey-border-next;
  }

  .cards__button {
    padding: 10px 0 9px 0;
  }
}

@media (min-width: $desktop-width) {
  .cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 80px;
    grid-row-gap: 142px;
  }

  .cards__item {
    grid-row-gap: 34px;
    padding: 162px 38px 41px 39px;
  }

  .cards__info-title {
    padding: 0 11px;
    font-size: 20px;
    list-style: 20px;
  }

  .cards__button {
    font-size: 16px;
    line-height: 20px;
  }

  .cards__picture {
    position: absolute;
    top: -68px;
    left: 40px;
    width: 168px;
    height: 200px;
  }
}
