.body {
  min-width: 320px;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-align: left;
  color: $dark-grey;
  background: $white;
  overflow-x: hidden;
}

@media (min-width: $desktop-width) {
  .body {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 50%;
      min-height: 694px;
      top: 0;
      right: 0;
      background: $green-next url("../img/bg/green-cat-desktop.jpg") no-repeat right;
      background-size: auto 694px;
      z-index: -3;
    }

    &--pages {
      &::after {
        display: none;
      }
    }
  }
}
