.header {
  padding: 12px 0 13px 0;
  position: relative;
}

.header__logo {
  padding: 0 20px;
  display: block;


  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

@media (min-width: $tablet-width) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 19px 30px 19px 30px;
    margin-bottom: 36px;

    &--pages {
      margin-bottom: 14px;
    }
  }

  .header__top {
    padding: 0;
  }

  .header__logo {
    padding: 0;
    width: 174px;
  }
}

@media (min-width: $desktop-width) {
  .header {
    padding: 48px 110px 0 110px;
    margin-bottom: 103px;
    justify-content: flex-start;

    &--pages {
      margin-bottom: 68px;

      &::after {
        display: none;
      }

      .navigation__link {
        color: $black;
      }

      .active {
        border-bottom: 2px solid $green;
      }
    }
  }

  .header__logo {
    width: 202px;
  }

  .header__logo-picture {
    width: 100%;
  }
}
