.location {
  &--pages {
    background: $white;
  }
}

.location__info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 28px 20px 26px 20px;
  grid-column-gap: 0;
}

.location__info-trade {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $black;
  margin: 0;
  padding: 0;
}

.location__info-address {
  line-height: 20px;

  @include reset;
}

.location__map {
  margin: 0 auto;
  width: 100%;
  height: 362px;
  background: url("../img/bg/location-mobile.jpg") no-repeat;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background: url("../img/bg/location@2x.jpg") no-repeat;
    background-size: cover;
  }
}

iframe {
  width: 100%;
}

@media (min-width: $tablet-width) {
  .location__info {
    grid-column-gap: 250px;
    padding: 33px 71px 59px 70px;
  }

  .location__info-trade {
    font-size: 20px;
    line-height: 25px;
    margin: 0;
    padding: 34px 0 0 0;
  }

  .location__info-address {
    display: block;
    padding-top: 30px;
    text-align: right;
    font-size: 16px;
    line-height: 20px;
  }

  .space {
    display: block;
    margin-top: 19px;
  }

  .location__map {
    width: 100%;
    height: 400px;
    background: url("../img/bg/location-tablet.jpg") no-repeat;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background: url("../img/bg/location-tablet@2x.jpg") no-repeat;
      background-size: cover;
    }
  }

  iframe {
    margin-bottom: 0;
    height: 400px;
  }
}

@media (min-width: $desktop-width) {
  .location {
    position: relative;

    &--pages {
      background: $white;
    }
  }

  .location__info {
    position: absolute;
    background: $white;
    top: 94px;
    right: 50%;
    transform: translateX(-6%);
    width: 573px;
    box-sizing: border-box;
    grid-column-gap: 80px;
    padding: 33px 75px 59px 73px;
    text-align: left;
  }

  .location__info-address {
    margin-left: 0;
    text-align: left;
  }

  .location__map {
    width: 1440px;
    height: 400px;
    background: url("../img/bg/location-desktop.jpg") no-repeat;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background: url("../img/bg/location-desktop@2x.jpg") no-repeat;
      background-size: cover;
    }
  }
}
